* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-family: 'Lato', sans-serif;
}
nav {
	display: flex;
	flex-direction: column;
	align-items: center;
}
nav a {
	display: block;
	width: 100%;
	text-align: center;
	padding: 10px 15px;
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #000;
	color: #ffffff;
}
nav a:hover {
	color: rgb(189, 94, 5);
}
header {
	height: 50vh;
}

.hero-img {
	position: relative;
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/img/hero-img-small.jpg');
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.hero-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #fff;
}
h1 {
	font-size: 50px;
}
.hero-text p {
	font-size: 20px;
}

@media (min-width: 576px) {
	nav {
		flex-direction: row;
	}
	nav a {
		border-right: 3px rgb(189, 94, 5) solid;
		transition: 0.3s;
	}
	nav a:hover {
		color: rgb(189, 94, 5);
	}
	nav a:last-child {
		border: 0;
	}
}
@media (min-width: 992px) {
	.hero-img {
		background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/img/hero-img-big.jpg');
	}
}
